*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Kiwi Maru', serif;
    background-color: #343f4f;
}

body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.wrapper{
    display: inline-flex;
}

.wrapper .static-txt{
    font-size: 60px;
    color: #fff;
    font-weight: 400;
}

.wrapper .dynamic-txt{
    margin-left: 15px;
    height: 90px;
    line-height: 90px;
    overflow: hidden;
}

.dynamic-txt li{
    list-style: none;
    font-size: 60px;
    font-weight: 500;
    color: #fc6d6d;

    position: relative;
    top: 0;
    animation: slide 6s steps(4) infinite;
}

.dynamic-txt li span{
    position: relative;
}

.dynamic-txt li span::after{
    content: "";
    position: absolute;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #343f4f;
    /* background-color: red; */
    border-left: 2px solid #fc6d6d;
    animation: typing 1.5s steps(15) infinite;
}

@keyframes typing{
    100%{
        left: 100%;
        margin: 0 -35px 0 35px;
    }
}

@keyframes slide{
    100%{
        top: -360px;
    }
}