*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.avatar{
    width: 6.25rem;
    height: 6.25rem;
    border-radius: 50%;
    background-image: url("../images/cat.jpg");
    background-size: cover;
    background-position: center;
    position: relative;
}

.avatar::before,.avatar::after{
    --scale: 0;
    position: absolute;
    top: -.25rem;
    left: 50%;
    transform: translateX(-50%) translateY(-100%) scale(var(--scale));
    transition: 150ms transform;
    transform-origin: bottom center;
}

.avatar::before{
    content: attr(data-tooltip);
    color: white;
    border-radius: .5rem;
    padding: .5rem;
    width: max-content;
    background: black;

}

.avatar:hover::before{
    --scale: 1;
}