*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #ddd;
}

.wrapper{
    width: 100vw;
    height: 100vh;
    margin: auto;
    display: grid;
    grid-template-rows: 1fr 8fr 1fr;
    grid-template-columns: 2fr 6fr 2fr;
}

.item{
    background-color: #58d5f6;
    color: #fff;
    padding: 10px;
}

.item:nth-child(even){
    background-color: #234fc8;
}


