*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100vw;
}

.button{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    height: 100vh;
}

button{
    margin: 1rem;
    padding: 2rem;
}

.btn{
    background-color: var(--bg);
    color: #222;
    padding: 1rem;
    border: none;
    outline: none;
    position: relative;
    cursor: pointer;

    --bg: #e3e3e3;
    --border-size: 2px;
    --acc: #0AF;
}


.btn.pop::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    border: var(--border-size) solid var(--bg);
    transition: top,left,right,bottom, 100ms ease-in-out;
}

.btn.pop:hover::before,
.btn.pop:focus::before{
    top: calc(var(--border-size)*-2);
    left: calc(var(--border-size)*-2);
    right: calc(var(--border-size)*-2);
    bottom: calc(var(--border-size)*-2);
}

.btn.slide::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    background-color: var(--acc);
    transition: transform 200ms ease-in-out;
    transform: scaleX(0);
    transform-origin: left;
}

.btn.slide{
    transition: color 200ms ease-in-out;
    z-index: 1;
}
.btn.slide:hover, .btn.slide:focus{
    color: white;
}

.btn.slide:hover::before,
.btn.slide:focus::before{
    transform: scaleX(1);
}

.btn.underline::before{
    content: "";
    height: var(--border-size);
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--acc);
    transform: scaleX(0);
    transition: transform 200ms ease-in-out; 
}

/* .btn.underline{
    z-index: 1;
} */

.btn.underline:hover::before,
.btn.underline:focus::before{
    transform: scaleX(1);
}